/*common*/
.form-control {
    border: none;
    border-bottom: 2px solid black;
}

.input-group-text {
    background-color: white;
    border: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
}

.log {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

a {
    color: #ffcc2a !important;
}

p {
    margin-bottom: 0px;
}

/*login*/

.form-control {
    border: none;
    border-bottom: 2px solid black;
}

.input-group-text {
    background-color: white;
    border: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
}

.log {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

a {
    color: #ffcc2a !important;
}

p {
    margin-bottom: 0px;
}

.error{
    color: red !important;
    margin-top: -20px !important;
    position: absolute;
}