<body>

    <div class="container">

        <h1 class="mt-5">Iniciar Sesión</h1>

        <div class="mt-5 mb-5">
            <img src="../../assets/img/logo.png" class="center log mx-auto" alt="...">
        </div>

        <div class="container">

            <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/icons/correo.png" style="height: 30px;" alt="icon"></span>
                <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electronico" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/icons/contrasenia.png" style="height: 30px;" alt="icon"></span>
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contrasena" aria-describedby="basic-addon1">
            </div>

            <div class="d-grid gap-2 mx-auto center mt-5">
                <button class="btn btn-primary rounded-pill center" type="button" (click)="navegandoHaciaCategoriasEmpresas()">Ingresar</button>
            </div>

        </div>

    </div>

</body>

