<app-nav></app-nav>

<div class="container">

    <h1 class="mt-5">Motoristas Pedidos Disponibles</h1>

        <div class="row mb-5">
            <div class="caja-pedido col-5 mx-4 mt-4">
                <div class="row">

                    <div class="col-4">
                        <img class="rounded imgs" src="../assets/img/motoristas/img10.jpg" alt="">
                    </div>

                    <div class="col-6 my-3">
                        <div style="font-size: 23px;">Asados el Churrasco</div>
                        <div>Acepta pago Online</div>
                        <div class="my-2">Ubicación</div>
                    </div>
                    <div class="col-6 mb-2" style="text-align: center;">30-45 Min</div>
                    <div class="col-6 mb-2" style="text-align: center;">L. 70</div>
                </div>
                <button type="button" class="btn btn-personalizado" data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
            </div>

            <div class="caja-pedido col-5 mx-4 mt-4">
                <div class="row">

                    <div class="col-4">
                        <img class="rounded imgs" src="../assets/img/motoristas/img10.jpg" alt="">
                    </div>

                    <div class="col-6 my-3">
                        <div style="font-size: 23px;">Asados el Churrasco</div>
                        <div>Acepta pago Online</div>
                        <div class="my-2">Ubicación</div>
                    </div>
                    <div class="col-6 mb-2" style="text-align: center;">30-45 Min</div>
                    <div class="col-6 mb-2" style="text-align: center;">L. 70</div>
                </div>
                <button type="button" class="btn btn-personalizado" data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
            </div>

            <div class="caja-pedido col-5 mx-4 mt-4">
                <div class="row">

                    <div class="col-4">
                        <img class="rounded imgs" src="../assets/img/motoristas/img10.jpg" alt="">
                    </div>

                    <div class="col-6 my-3">
                        <div style="font-size: 23px;">Asados el Churrasco</div>
                        <div>Acepta pago Online</div>
                        <div class="my-2">Ubicación</div>
                    </div>
                    <div class="col-6 mb-2" style="text-align: center;">30-45 Min</div>
                    <div class="col-6 mb-2" style="text-align: center;">L. 70</div>
                </div>
                <button type="button" class="btn btn-personalizado" data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
            </div>

            <div class="caja-pedido col-5 mx-4 mt-4">
                <div class="row">

                    <div class="col-4">
                        <img class="rounded imgs" src="img/motoristas/img10.jpg" alt="">
                    </div>

                    <div class="col-6 my-3">
                        <div style="font-size: 23px;">Asados el Churrasco</div>
                        <div>Acepta pago Online</div>
                        <div class="my-2">Ubicación</div>
                    </div>
                    <div class="col-6 mb-2" style="text-align: center;">30-45 Min</div>
                    <div class="col-6 mb-2" style="text-align: center;">L. 70</div>
                </div>
                <button type="button" class="btn btn-personalizado " data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
            </div>
            
        </div>
</div>

<div class="modal fade" id="Modalver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver Motorista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <select name="" id="">
                    <option>Pedro Motoa</option>
                </select>     
                    <button type="button" class="btn btn-personalizado">Asignar</button>
                    <button type="button" class="btn btn-personalizado">Cerrar</button>
            </div>
        </div>
    </div>
</div>

