
    <div class="container">

        <h1 class="mt-5">Iniciar Sesión</h1>

        <div class="mt-5 mb-5">
            <img src="../assets/img/logo.png" class="center log mx-auto" alt="...">
        </div>

        <div class="container-md" [formGroup]="loginAdmin">

            <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon1"><img src="../assets/img/icons/correo.png" style="height: 30px;" alt="icon"></span>
                <input type="text" formControlName="correo" [ngClass]="{'input-error':correo?.invalid && (correo?.dirty || correo?.touched)}" class="form-control" placeholder="Correo electrónico" aria-label="Correo electronico" aria-describedby="basic-addon1" required>
            </div>
            <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="error">
                <span *ngIf="correo?.errors?.required">Error el campo es obligatorio</span>
            </div>
            <div *ngIf="correo?.touched" class="error">
                <span *ngIf="correo?.errors?.pattern">Error Correo Electrónico incorrecto</span>
            </div>

            <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1"><img src="../assets/img/icons/contrasenia.png" style="height: 30px;" alt="icon"></span>
                <input type="password" formControlName="password" [ngClass]="{'input-error':password?.invalid && (password?.dirty || password?.touched)}" class="form-control" placeholder="Contraseña" aria-label="Contrasena" aria-describedby="basic-addon1" required>
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
                <span *ngIf="password?.errors?.minlength">Error el tamaño minimo es de 8 carácteres</span>
            </div>

            <div class="mx-auto center mt-5" >
                <button [disabled]="!loginAdmin.valid" class="btn btn-primary rounded-pill center" type="button" (click)="Verificar()">Ingresar</button>
            </div>

        </div>
    </div>

    <!-- Modal -->
<ng-template #modalAdvertencia let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-4 my-4" style="height: 100px;">
        Usuario/Contraseña Incorrectos
    </div>
  </ng-template>
