
.container-md{
    padding-left: 350px;
    padding-right: 350px;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(180deg, #6770eb 64%, #2d1c68 100%);
    border: none;
    width: 620px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 2px solid black;
}

.input-group-text {
    background-color: white;
    border: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
}

.log {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.btn-login{
    padding-left: 350px;
    padding-right: 350px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

a {
    color: #D258A1 !important;
}

p {
    margin-bottom: 0px;
}

.error{
    color:#d30f23;
    font-size:1rem;
    margin:10px;
    margin-top: -15px;
}

.input-error{
    border-color: #d30f23;
}

@media (max-width: 576px){
    .container-md{
        padding-left: 0;
        padding-right: 0;
    }

    .log {
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-left: 120px;
    }

    .btn-login{
        padding-left: 0;
        padding-right: 0;
    }

    .btn-primary {
        width: 320px;
        margin-left: -5px;
    }

}
