<body>
    

    <nav class="navbar navbar-light bg-light ">
        
        
        <div class="container-fluid mb-4">
            <a class="navbar-brand ">
                <img src="../../assets/img/logo.jpeg" class="mx-auto  " style="width:4rem; height: 4rem;" alt="...">
              </a>
              <form class="d-flex mb-4">
                <button type="button" id="btn-comenzar"
                        class="btn btn-personalizado btn-secondary ml-auto rounded-pill" (click)="salir()" >Salir</button>
              </form>
       </div>
    </nav>
    

    <div class="container ">

      
        <h1>¡Hola! {{nombreCliente}}</h1>

        <p>Elegí una categoria para pedir un producto.</p>

        <div class="row">

            <div class="col-6 cuadro" style="background-color: #F4DD65;" (click)="navegarHaciaMostrandoEmpresas()">
                <img src="../../assets/img/categorias/rest.png" class="cuadrado center" alt="matambritas">
                <h3>Restaurantes</h3>
            </div>

            <div class="col-6 cuadro" style="background-color: #F58989;" (click)="navegarHaciaMostrandoEmpresas()">
                <img src="../../assets/img/categorias/farmacia.png" class="cuadrado center" alt="matambritas">
                <h3>Farmacias</h3>
            </div>

            <div class="col-6 cuadro" style="background-color: #AAE3EF;" (click)="navegarHaciaMostrandoEmpresas()">
                <img src="../../assets/img/categorias/bebida.png" class="cuadrado center" alt="matambritas">
                <h3>Bebidas</h3>
            </div>

            <div class="col-6 cuadro" style="background-color: #8DED7E;" (click)="navegarHaciaMostrandoEmpresas()">
                <img src=" ../../assets/img/categorias/comestibles.png " class="cuadrado center" alt="matambritas ">
                <h3>Supermercados</h3>
            </div>

            <div class="col-6 cuadro" style="background-color: #B682F8;" (click)="navegarHaciaMostrandoEmpresas()">
                <img src="../../assets/img/categorias/tienda.png" class="cuadrado center" alt="matambritas">
                <h3>Tiendas</h3>
            </div>

            <div class="col-6 cuadro" style="background-color: #FF8B49" (click)="navegarHaciaMostrandoEmpresas()">
                <img src=" ../../assets/img/categorias/envio.png " class="cuadrado center" alt="matambritas ">
                <h3>Envíos</h3>
            </div>

        </div>

        <hr id="line">

        <img id="imgRec" src="../../assets/img/record.png" class="rounded-circle center img-circ" alt="...">

        <p>Recordá siempre poner la ubicación real de donde te encontrás para evitar posibles problemas.</p>

    </div>
</body>
