.imgD{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 15px;
}

.caja-pedido{
    background-color:#F2CEE3;
    margin-top: 40px;
}

#d-footer {
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55px;
}

#l-footer {
    height: 50px;
    width: 50px;
    margin-left: 45px;
    margin-bottom: 25px;
    margin-top: 20px;
}

div{
    font-family: 'Mulish';
}

.btn-personalizado {
    background: linear-gradient(180deg, #20c93c 64%, #007B00 100%);
    border: none;
    width: 140px;
    border-radius: 25px;
}

