<app-nav></app-nav>

<div class="container">

    <h1 class="mt-5">Mantenimiento Empresas</h1>

    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Nuevo Producto</button>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Empresa</th>
                <th scope="col">Direccion</th>
                <th scope="col">Nombre Encargado</th>
                <th scope="col">Telefono</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Categoria</th>
                <th scope="col">Logotipo</th>
                <th scope="col">Banner</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ludo's Pizza</td>
                <td>Colonia El Pedregal casa #214</td>
                <td>Kakashi Hatake</td>
                <td>+504 3232-3232</td>
                <td>Pizzeria y aperitivos</td>
                <td>Activo</td>
                <td>Restaurantes</td>
                <td>img/restaurantes/ludos.jpg</td>
                <th>img/ludos/banner.jpg</th>
                <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
                    <button type="button" class="btn btn-danger">Desactivar</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modaleditar">Editar</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Farmacias Kielsa</td>
                <td>Colonia El Pedregal casa #214</td>
                <td>Monkey D. Luffy</td>
                <td>+504 3232-3232</td>
                <td>Drogueria y Farmacia</td>
                <td>Activo</td>
                <td>Farmacias</td>
                <td>img/restaurantes/kielsa.jpg</td>
                <th>img/ludos/banner.jpg</th>
                <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modalver">Ver</button>
                    <button type="button" class="btn btn-danger">Desactivar</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modaleditar">Editar</button></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Nombre Empresa</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Direccion</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Nombre Encargado</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Telfono</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Descripcion</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Categoria</label>
                    </div>
                    <div class="col me-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categoria</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Logotipo</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Banner</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modalver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Nombre Empresa</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Direccion</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Nombre Encargado</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Telfono</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Descripcion</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Categoria</label>
                        </div>
                        <div class="col me-4">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Categoria</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Logotipo</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mt-1">
                        <div class="col">
                            <label for="inputPassword6" class="col-form-label ms-4">Banner</label>
                        </div>
                        <div class="col me-4">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modaleditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Nombre Empresa</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Direccion</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Nombre Encargado</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control me-2" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Telfono</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Descripcion</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Categoria</label>
                    </div>
                    <div class="col me-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categoria</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Logotipo</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                    <div class="col">
                        <label for="inputPassword6" class="col-form-label ms-4">Banner</label>
                    </div>
                    <div class="col me-4">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Cerrar</button>
            </div>
        </div>
    </div>
</div>

