
<app-navbar></app-navbar>
    <div class="container">

        <h1 class="mt-5">¡Bienvenido!</h1>

        <div class="container">

            <div class="row">

                <div class="col-5 cuadro" style="background-color: #F4DD65;" [routerLink]="['/empresas']">
                    <img src="../assets/img/categorias/tiendas.png" class="cuadrado center" alt="matambritas">
                    <h3>Tiendas</h3>
                </div>

                <div class="col-5 cuadro" style="background-color: #F58989;" [routerLink]="['/productos']">
                    <img src="../assets/img/categorias/solicitudes.png" class="cuadrado center" alt="matambritas">
                    <h3>Solicitudes</h3>
                </div>

                <div class="col-5 cuadro" style="background-color: #AAE3EF;" [routerLink]="['/motoristas']">
                    <img src="../assets/img/categorias/motoristas.png" class="cuadrado center" alt="matambritas">
                    <h3>Motoristas</h3>
                </div>

                <div class="col-5 cuadro" style="background-color: #8DED7E;" [routerLink]="['/pedidos']">
                    <img src="../assets/img/categorias/envios.png" class="cuadrado center" alt="matambritas ">
                    <h3>Pedidos</h3>
                </div>

            </div>


            <div class="row mt-5">

                <div class="mt-5 mb-5 col-6">
                    <img src="../assets/img/logo.jpg" class="log mx-auto" alt="...">
                    <p class="ms-5 mt-4">Nuestro destino es tu confianza y satisfacción.</p>
                </div>


                <div class="mt-5 mb-5 col-6">
                    <img src="../assets/img/admin.png" class="log mx-auto float-end" style="width: 190px;" alt="...">
                </div>

            </div>


        </div>
