.bg-light {
    background-color: #fff!important;
    border-bottom: 2px solid #d258a1;
    margin-bottom: 30px;
    height: 65px;
}

.logo-nav {
    width: 40px;
    height: 40px;
    position: absolute;
}

.btn-personalizado {
    background: linear-gradient(180deg, #e46cb4 64%, #9b1f69 100%);
    border: none;
    width: 120px;
}

.btn-personalizado1 {
    background: linear-gradient(180deg, #e46cb4 64%, #9b1f69 100%);
    border: none;
    width: 170px;
    border-radius: 25px;
    margin-top: 30px;
}

.header-info-mobile {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
    font-family: 'Life Savers','Mulish';
}

hr {
    margin-top: 50px!important;
    margin-bottom: 50px;
}

.div-texto{
    opacity: 0.74;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #1f1f1f;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.img-two{
    height: 250px;
    width: 350px;
}

.img-g{
    height: 300px;
    width: auto;
    margin-left: 30px;
}

.img-g1{
    height: 200px;
    width: auto;
}

h2{
    font-family: 'Life Savers','Mulish';
    text-align: center;
    margin-top: 30px;
}