div{
    font-family:'Mulish'
}

.btn-personalizado {
    background: linear-gradient(180deg, #5c6b80 64%, #2d1c68 100%);
    border: none;
    width: 140px;
    border-radius: 25px;
}

.bg-light {
    background-color: #fff!important;
    border-bottom: 2px solid #2d1c68;
    margin-bottom: 30px;
    height: 65px;
}

button{
    font-family: 'Mulish';
}