

        <div class="caja-pedido" [routerLink]="['pedidos-detalle-disponibles']" *ngFor="let pedidoD of pedidosDisponibles">
            <div class="row">

                <div class="col-4">
                    <img class="rounded imgs" src={{pedidoD.imagen}} alt="">
                </div>

                <div class="col-8 my-3">
                    <div style="font-size: 23px;" class="mx-2">{{pedidoD.empresa}}</div>
                    <div class="mx-2"><fa-icon [icon]="faCreditCard"></fa-icon>{{pedidoD.card}}</div>
                    <div class="my-2 mx-2"><fa-icon [icon]="faMapMarkerAlt"></fa-icon>{{pedidoD.ubicacion}}</div>
                </div>
                <div class="col-6 mb-2" style="text-align: center;">{{pedidoD.tiempoEstimado}}</div>
                <div class="col-6 mb-2" style="text-align: center;">{{pedidoD.comisionMotorista}}</div>
            </div>
        </div>




