<body>
    <div class="container">
        <h1 class="mt-5">Regístrate en Izzy&Vite</h1>

        <h6 style="text-align: center;" class="mt-5">¿Tenés ya tu cuenta? <a>Iniciar Sesión</a></h6>

        <div class="mt-5 mb-5">
            <img src="../../assets/../../assets/img/logo.png" class="center log mx-auto" alt="...">
        </div>

        <div class="container">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/icons/perfil.png" style="height: 30px;" alt="icon"></span>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/icons/correo.png" style="height: 30px;" alt="icon"></span>
                <input type="text" class="form-control" placeholder="Correo electronico" aria-label="Correo electrónico" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/icons/contrasenia.png" style="height: 30px;" alt="icon"></span>
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contrasena" aria-describedby="basic-addon1">
            </div>

            <div class="d-grid gap-2 mx-auto center mt-5">
                <button class="btn btn-primary rounded-pill center" type="button">Registrarme</button>
            </div>
        </div>

        <div class="mt-5 mb-5" style="text-align: center;">
            <p>Al registrarte, aceptas todas nuestras</p>
            <i>Condiciones de Servicio y Políticas de privacidad</i>
        </div>

    </div>

</body>
