<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <fa-icon [icon]="faUndoAlt" style="font-size: 30px; margin-right: 140px;" (click)="navegandoPedidosD()"></fa-icon>
            <button type="button" class="btn btn-personalizado1 btn-secondary float-end rounded-pill my-2" (click)="salir()">Cerrar Sesión</button>
        </div>
    </div>
</nav>

   <div class="container-fluid">
    <div class="col-md-6 mt-4">
        <h1 style="color:#6ca0e4; margin-top: 80px; font-weight: bold;">Pedidos Disponibles</h1>

        <div class="caja-pedido">
            <div class="row">

                <div class="col-6">
                    <img class="rounded imgD" src={{pedidosDetalles.logoEmpresa}} alt="">
                </div>

                <div class="col-6 my-3">
                    <div style="font-size: 30px;">{{pedidosDetalles.nombreEmpresa}}</div> 
                </div>
                <div style="margin-left: 30px; margin-top: 5px;" class="col-10"><fa-icon [icon]="faCreditCard"></fa-icon>  <b> Acepta pago Online</b></div>
                <div style="margin-left: 30px;" class="my-2 col-10"  *ngFor="let ubicacion of pedidosDetalles.direccion"><fa-icon [icon]="faMapMarkerAlt"></fa-icon>  {{ubicacion.lat}} {{ubicacion.lng}}</div>
                <div style="margin-left: 30px;" class="mb-2 col-10"><b>Estimado Destino: 20-30 Min</b></div>
                <div style="margin-left: 30px;" class="mb-2 col-10" *ngFor="let producto of pedidosDetalles.producto; let indice=index"><b>{{indice+1}}</b> - {{producto}}</div>
                <div style="margin-left: 30px;" class="mb-2 col-10"><b>Total: Lps. {{pedidosDetalles.total}}</b></div>
                <div style="margin-left: 30px;" class="mb-2 col-10"><b>Comisión: Lps. {{pedidosDetalles.comisionMotorista}}</b></div>

                <div>
                    <button type="button" style="margin-left: 170px" class="btn btn-personalizado btn-secondary my-2"(click)="tomarOrden(pedidosDetalles)">Tomar Orden</button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>

<ng-template #modalConfirmacion let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: 100px;">
        <div>Has tomado el pedido Exitosamente!</div>
    </div>
  </ng-template>


