<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <button type="button" class="btn btn-personalizado btn-secondary float-end rounded-pill my-2" (click)="salir()">Cerrar Sesión</button>
        </div>
    </div>
</nav>

        <div class="caja-pedido" *ngFor="let pedido of pedidos">
            <div class="row">

                <div class="col-4">
                    <img class="rounded imgs" src={{pedido.logoEmpresa}} alt="">
                </div>

                <div class="col-8 my-3">
                    <div style="font-size: 23px;" class="mx-2">{{pedido.nombreEmpresa}}</div>
                    <div class="my-2 mx-2" *ngFor="let ubicacion of pedido.direccion"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{ubicacion.lat}} {{ubicacion.lng}} </div>
                </div>
                <div class="col-4 mb-2" style="text-align: center;"><b>Comisión: Lps.</b> {{pedido.comisionMotorista}}</div>
                <div class="col-8 mb-2" style="text-align: center; color:rgb(226, 21, 21); font-weight:bold">Estado: {{pedido.estado}}</div>
            </div>
        </div>