<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <button type="button" class="btn btn-personalizado btn-secondary float-end rounded-pill my-2" [routerLink]="['/login']">Cerrar Sesión</button>
        </div>
    </div>
</nav>

        <div class="caja-pedido" *ngFor="let pedidoE of pedidosEntregado">
            <div class="row">

                <div class="col-4">
                    <img class="rounded imgs" src={{pedidoE.imagen}} alt="">
                </div>

                <div class="col-8 my-3">
                    <div style="font-size: 23px;" class="mx-2">{{pedidoE.empresa}}</div>
                    <div class="my-2 mx-2"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{pedidoE.ubicacion}} </div>
                </div>
                <div class="col-4 mb-2" style="text-align: center;">{{pedidoE.comisionMotorista}}</div>
                <div class="col-8 mb-2" style="text-align: center; color:rgb(226, 21, 21); font-weight:bold">{{pedidoE.estado}}</div>
            </div>
        </div>