.btn-personalizado {
    background: linear-gradient(180deg, #6ca0e4 64%, #3a1f9b 100%);
    border: none;
    width: 140px;
    margin-left: 300px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white
}

.caja-pedido{
    background-color:#8fb3e2;
    margin-top: 40px;
}

.imgs{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

div{
    font-family: 'Mulish';
}


