.btn-personalizado {
    background: linear-gradient(180deg, #6770eb 64%, #2d1c68 100%);
    border: none;
    width: 140px;
    margin-left: 300px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white
}

.caja-pedido{
    background-color:#939afd;
    margin-top: 40px;
}

.imgs{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

div{
    font-family: 'Mulish';
}


