.btn-personalizado {
    background: linear-gradient(180deg, #e46cb4 64%, #9b1f69 100%);
    border: none;
    width: 140px;
    margin-left: 300px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white
}

.caja-pedido{
    background-color:#F2CEE3;
    margin-top: 40px;
}

.imgs{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

div{
    font-family: 'Mulish';
}

.bg-dark {
    background-color: #D258A1 !important;
}

a {
    color: white !important;
}

.reajuste1 {
    height: 20px;
    width: 20px;
}


