
    
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="../../assets/img/logo.png" class="logo-nav" alt="...">
          </a>
          <form class="d-flex">
            <button type="button" id="btn-comenzar"
                    class="btn btn-personalizado btn-secondary float-end rounded-pill">Comenzar</button>
          </form>
        </div>
      </nav>


    <div class="container mt-2">

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-sm-4 col-md-8 text-center">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid rounded-circle shadow mb-1 bg-body rounded d-block w-100"
                                src="../../assets/img/img6.jpg" alt="Img 4">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid rounded-circle shadow mb-1 bg-body rounded d-block w-100"
                                src="../../assets/img/img2.jpg" alt="Img 2">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid rounded-circle shadow mb-1 bg-body rounded d-block w-100"
                                src="../../assets/img/img3.jpg" alt="Img 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <h1>Hacé un pedido desde la comodidad de tu hogar ¡YA!</h1>
                <p>Con el amplio catálogo de empresas afiliadas no tenés excusa para no pedir a domicilio desde comida,
                    medicamentos, ropa, e incluso envíos.
                </p>

                <div class="input-group flex-nowrap" style="margin-top: 35px;">
                    <span class="input-group-text" id="addon-wrapping"><img src="../../assets/img/prson.png"
                            style="height: 20px;" alt="icon"></span>
                    <input type="text" class="form-control" placeholder="¿Dónde te encontras?" aria-label="Direccion"
                        aria-describedby="addon-wrapping">
                </div>

                <p style="color: #D258A1; margin-top: 15px">Utilizar mi ubicación actual</p>
                <hr>

                <div>
                    <h2>Las mejores tiendas con servicio delivery aquí y mucho más</h2>

                    <div class="row">

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/matambritas.jpg" class="rounded cuadrado center"
                                alt="matambritas">
                        </div>

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/ludos.jpg" class="rounded cuadrado"
                                alt="matambritas">
                        </div>

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/asados.jpg" class="rounded cuadrado center"
                                alt="matambritas">
                        </div>

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/cocobaleadas.jpg" class="rounded cuadrado"
                                alt="matambritas">
                        </div>

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/distefano.jpg" class="rounded cuadrado center"
                                alt="matambritas">
                        </div>

                        <div class="col-6">
                            <img src="../../assets/img/restaurantes/kielsa.jpg" class="rounded cuadrado"
                                alt="matambritas">
                        </div>
                    </div>
                </div>

                <hr>

                <div>
                    <h2>Las entregas más rápidas y seguras</h2>

                    <div>
                        <img src="../../assets/img/entrega.jpg" class="rounded-circle img-circ center mx-auto"
                            alt="...">
                    </div>
                </div>

                <hr>

                <div>
                    <h2>Las principales colonias y barrios de Tegus aquí</h2>

                    <img src="../../assets/img/tegus.jpg" class="rounded-circle center img-circ" alt="...">

                    <div class="d-grid gap-2 mx-auto center">
                        <button class="btn btn-primary rounded-pill center" type="button">Descubrir comercios en mi
                            zona</button>
                    </div>

                    <div class="row justify-content-center" style="margin-top: 20px;">
                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo">La Kennedy</button>
                        </div>

                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo">Toncontín</button>
                        </div>

                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo">El Hato</button>
                        </div>

                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo ">El Carrizal</button>
                        </div>

                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo ">Miraflores</button>
                        </div>

                        <div class="col-6-btn" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-grupo ">Palmira</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div>
                    <img src="../../assets/img/cel.jpg" class="center" alt="...">

                    <h4>Utilizá nuestra aplicación</h4>

                    <p>Podrás pedir lo que deseés y tener información del estado de tu producto con los repartidores más
                        confiables y audaces de la ciudad</p>
                </div>

                <hr>

                <div>

                    <h1>¿Querés formar parte de nuestra comunidad?</h1>

                    <img src="../../assets/img/icons/1.png" class="img-fin center" alt="...">

                    <p class="p-Team">Team Repartidores</p><br>

                    <img src="../../assets/img/img1.png" class="center" alt="...">

                    <p>Disfrutá de la oportunidad de repartir pedidos a cualquier hora y en cualquier lugar, ganando
                        comisiones y siendo parte de nuestro equipo.</p>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-info mx-auto center btn-personalizado1">Más
                            Información</button>
                    </div>
                    <br>

                    <p class="p-Team">Team Partner</p><br>

                    <img src="../../assets/img/img4.png" class="center" style="margin-top: 30px;" alt="...">

                    <p>Disfrutá de la oportunidad de tener tu restaurante en una aplicación disponible para tus clientes
                        con la oportunidad recibir muchos pedidos que generen muchos ingresos para tu empresa.</p>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-info mx-auto center btn-personalizado1">Más
                            Información</button>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="d-footer" class="text-center">
        <hr>
        <img id="l-footer" src="../../assets/img/logo.png" alt="...">
        <p>Nuestro destino es tu confianza y satisfacción.</p>

        <div class="contenido">
            <b>Nuestro equipo</b><br>
            <a>Repartidores</a><br>
            <a>Partner</a><br>

            <b>Acerca de nosotros</b><br>
            <a>Contacto</a><br>
            <a>Más información</a><br>
        </div>

    </div>

</body>