.cuadrado {
    border-radius: 1rem!important;
    height: 130px;
    width: 130px;
    margin-bottom: 25px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10px;
}

.cuadro {
    border-radius: 10px;
    width: 150px !important;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#imgRec {
    height: 200px;
    width: 200px;
}

h1,
h3,
p {
    text-align: center;
    margin-top: 20px;
}

h1,
h3 {
    font-family: 'Life Savers', cursive;
}

p {
    font-family: 'Mulish', sans-serif;
}

#line {
    background-color: #d258a1;
    margin-top: 45px;
    border: 1px;
    opacity: 1;
}