

   <div class="container">

    <h2 class="mt-4"> Pedido Express Administración</h2>

        <h1 class="mt-2">Iniciar Sesión</h1>

        <div class="my-1">
            <img src="../assets/img/logo.jpeg" style=" width: 15rem; height: 15rem;" class="center  mx-auto" alt="...">
        </div>

        <div class="container-md" [formGroup]="loginAdmin">

            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1"><img src="../assets/img/icons/correo.png" style="height: 30px;" alt="icon"></span>
                <input type="text" formControlName="correo" [ngClass]="{'input-error':correo?.invalid && (correo?.dirty || correo?.touched)}" class="form-control" placeholder="Correo electrónico" aria-label="Correo electronico" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="error">
                <span *ngIf="correo?.errors?.required">Error el campo es obligatorio</span>
            </div>
            <div *ngIf="correo?.touched" class="error">
                <span *ngIf="correo?.errors?.pattern">Error Correo Electrónico incorrecto</span>
            </div>

            <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1"><img src="../assets/img/icons/contrasenia.png" style="height: 30px;" alt="icon"></span>
                <input type="text" formControlName="password" [ngClass]="{'input-error':password?.invalid && (password?.dirty || password?.touched)}" class="form-control" placeholder="Contraseña" aria-label="Contrasena" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error1">
                <span *ngIf="password?.errors?.minlength">Error el tamaño minimo es de 8 carácteres</span>
            </div>

            <div class="d-flex justify-content-center  mt-5">
                <button [disabled]="!loginAdmin.valid" class="btn btn-primary rounded-pill center" [routerLink]="['/home']" type="button">Ingresar</button>
            </div>

        </div>

    </div>

