<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex">
            <fa-icon [icon]="faUndoAlt" style="font-size: 30px;" [routerLink]="['/']"></fa-icon>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="mt-5 mb-5">
            <img src="../assets/img/logo.png" class="logo-lo" alt="...">
        </div>

        <section>
            <h1 class="titulo">Trabaja Con Nosotros</h1>
            <h3 class="titulo1">¿Qué necesitas para trabajar con nosotros?</h3>
            <div>
                <div class="info">
                    -Una moto en buen estado.
                </div>
                <div class="info">
                    -Un Android con versión Kitkat o una superior. (De preferencia un Android Stock)
                </div>
                <div class="info">
                    -Almacenamiento mínimo de 8 GB
                </div>
                <div class="info">
                    -Con 2 GB de RAM
                </div>
                <div class="info">
                    -Pantalla de mínimo 7 pulgadas
                </div>
                <div class="info">
                    -GPS
                </div>
                <div class="info">
                    -Cuádruple núcleo 1.3 GHz
                </div>
                <div class="info">
                    -Contar un paquete de datos de navegación activo
                </div>
    
                <h3 class="titulo1">Requisitos</h3>
                <div class="info">
                   -Solvencia Policial / Antecedentes Penales
                </div>
                <div class="info">
                    -Experiencia laboral de 2 año
                </div>
                <div class="info">
                    -1 cartas de recomendación
                </div>
                <div class="info">
                    -Ser bachiller
                </div>
                <div class="info">
                    -Licencia y DUI vigente
                </div>
                <div class="info">
                    -Casco
                </div>
                <div class="info">
                    -Tomar la capacitación para utilización del sistema y proceso
                </div>
                <div class="info">
                    -Aceptar las normas de trabajo
                </div>  
            </div> 
        </section>
    </div>

<app-footer></app-footer>
